html{
    box-sizing: border-box;
}
*, *:befor;
*:after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.container{
    padding: 0 40px;
}
.logo {
    color: #555252;
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    font-weight: 300;
    float: left;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    margin: 0;
    padding-top: 40px;
}
.logo::first-letter{
    content: "";
    font-family: "Roboto - Black", sans-serif;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: #1abc9c;
}
.logo a{
    list-style: none;
    text-decoration: none;
    color: #555252;
    font-size: 30px;
    font-family: "Roboto";
}
.navigation{
    width: 560px;
    float: right;
}
.navigation-container{
    float: right;
}
.navigation-item{
    float: left;
    margin-right: 35px;
    padding-top: 45px;
    list-style: none;
    text-transform: uppercase;
}
.navigation-item:last-child{
    margin: 0;
}
.navigation-item :hover{
    color: #1abc9c;
}
.navigation-container a{
    color: #0f0101;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.28px;
    text-decoration: none;
}
.name{
    color: #515151;
    font-family: "Roboto",sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    text-transform: uppercase;
}
.name:after{
    display: block;
    width: 164px;
    height: 7px;
    background-color:#4ec6ab;
    content: '';
    margin: 0 auto;
    margin-top: 20px;
}
.photo:last-child{
    margin: 0;
}
.photo{
    float: left;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}
.photo figcaption{
    width: 255px;
    height: 40px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto";
}
.photo{
    background-image: linear-gradient(to right,#323232 78%, #8c8c8c 22%);
}
.photo:hover{
    width: 255px;
    height: 322px;
    display: block;
    cursor: pointer;
    background-image: linear-gradient( to right, rgba(26, 188, 156,1) 78%, rgba(26, 188, 156,0.44) 22%);
}
img{
    display: block;
}
.cost{
    position: relative;
    left: 15px;
    top: 10px;
    text-transform: uppercase;
}
.number1{
    padding-left: 90px;
}
.number2{
    padding-left: 75px;
}
.number3{
    padding-left: 65px;
}
.number4{
    padding-left: 68px;
}
.name2{
    color: #515151;
    font-family: "Roboto",sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 66px;
    padding-bottom: 80px;
    text-transform: uppercase;
}
.name2:after{
    display: block;
    width: 164px;
    height: 7px;
    background-color:#4ec6ab;
    content: '';
    margin: 0 auto;
    margin-top: 20px;
}
.photo3{
    float: left;
    width: 350px;
    margin-right: 31px;
}
.photo3:last-child{
    margin: 0;
}
.sign{
    color: #555252;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.36px;
    padding-top: 10px;
}
.sign:after{
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    display: block;
    content: '';
    margin-top: 10px;
}
.describe{
    color: #555252;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 13px;
}
.click{
    width: 160px;
    height: 50px;
    border-radius: 3px;
    background-color: #4ec6ab;
    border: 1px solid #4ec6ab;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    margin-bottom: 80px;
}
